:root {
  --white: #FFF;
  --background: #ffffff;
  --foreground: #171717;
  --prm_dark: #8c5178;
  --prm_dark_alt: #58304b;
  --prm_mid: #7D4F6E;
  --prm_mid_alt: #623c56;
  --prm_light: #DEA6BB;
  --prm_light_alt: #b17d91;
  --prm_light_shade: #eaaec4;
  --prm_light_shade_alt: #eeb2c8;
  --prm_light_fade: #ffe1ec;
  --prm_light_fade_alt: #ffcddd;
  --sec_dark: #341a0a;
  --sec_mid: #6d320e;
  --sec_mid_alt: #933d08;
  --sec_light: #ffa352;
  --sec_light_alt: #c65c1b;
  --sec_light_shade: #d16522;
  --sec_light_shade_alt: #dd7b3d;
  --action_crit: #ff4141;
  --action_warn: #fb6a32;
  --action_okay: #20c629;
}